
<img src="/images/boxers.png" class="logo"/>
<h1>Find My Boxers: First Floor</h1>
<%= render :partial => 'nav' %>
<p>
<%= params[:message] %>

<div id="map_container">
	<img class="map" src="/images/first.png"/>
	<% @first_floor_users.each do |hub, users| %>
		<div id="hub1-<%= hub %>" class="hub">
			<table>
				<tr>
					<% @half = (users.count/2.0).ceil %>
					<% @split_users = users.in_groups_of(@half, false) %>
					<% @split_users.each do |half| %>
						<td>
						<% half.each do |user| %>
							<% if user == (params[:selected_user]) %>
								<div class="username selected_user"><%= user[0].upcase %>. <%= user[1..-1].capitalize %></div><br>
							<% else %>
								<div class="username"><%= user[0].upcase %>. <%= user[1..-1].capitalize %></div><br>
							<% end %>
						<% end %>
						</td>
					<% end %>
				</tr>
			</table>
	</div>
	<% end %>
</div>
<p>

