<h1>Box Marauder's Map: First Floor</h1>
<%= render "nav" %>
<p>

<%= params[:message] %>

<div id="map_container">
	<img class="map" src="/images/first.png"/>
	<% @first_floor_users.each do |hub, users| %>
		<div id="hub1-<%= hub %>" class="hub">
			<% users.each do |user| %>
				<% if user == (params[:selected_user]) %>
					<span class="selected_user"><%= user %></span><br>
				<% else %>
					<span class="username"><%= user %></span><br>
				<% end %>

				<% @ad_url = "https://dashboard.inside-box.net/controllers/single_pages/test.php?test=" + user %>
			<% end %>
		</div>
	<% end %>
</div>
<br>

<%=  @ad_url %>
<p>