<h1>Box Marauder's Map: Second Floor</h1>
<%= render "nav" %>
<p>
	
<%= params[:message] %>

<div id="map_container">
	<img class="map" src="/images/second.png"/>
	<% @second_floor_users.each do |hub, users| %>
		<div id="hub2-<%= hub %>" class="hub">
			<table>
				<tr>
					<% @half = (users.count/2.0).ceil %>
					<% @split_users = users.in_groups_of(@half, false) %>
					<% @split_users.each do |half| %>
						<td>
						<% half.each do |user| %>
							<% if user == (params[:selected_user]) %>
								<span class="username selected_user"><%= user %></span><br>
							<% else %>
								<span class="username"><%= user %></span><br>
							<% end %>
						<% end %>
						</td>
					<% end %>
				</tr>
			</table>
		</div>
	<% end %>
</div>
